@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

//importo boostrap
@import "bootstrap/scss/bootstrap";

.bg-white{
    background-color: white;
}

.my-card{
	background-color: orange;
	min-height: 420px;
    width: 180px;
	font-weight: bold;
	font-size: 1.2rem;
	.container-img{
		width:180px;
	}
}